* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: white;
    background-image: url(images/stars.avif);
}

.page_header {
    width: 1440px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    min-height: 70px;
    padding-top: 105px;
    padding-right: 65px;
    padding-left: 115px;
}

.logo {
    display: block;
    
    font-family: Libre Barcode 128 Text;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;

    width: 53px;
    height: 80px;
    top: 47px;
    left: 122px;
    gap: 0px;
    opacity: 0px;
}

.navigation_list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 347px;
    list-style: none;
    color: white;
}

.navigation_title_main {
    width: 56px;
    height: 26px;
    top: 74px;
    left: 518px;
    gap: 0px;
    opacity: 0px;

    font-family: Istok Web;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.91px;
    text-align: left;

    text-decoration: none;
    color: white;
}

.container_page {
    display: flex;
    padding-top: 164px;
    padding-left: 115px;
}

.text_main {
    width: 412px;
    height: 264px;
    top: 291px;
    left: 115px;
    gap: 0px;
    opacity: 0px;

    font-family: Kenia;
    font-size: 150px;
    font-weight: 400;
    line-height: 150px;
    text-align: left;

    color: #FFFFFF;
}

.company_borth {
    display: block;

    width: 290px;
    height: 63px;
    padding-top: 175px;
    padding-left: 122px;
    gap: 0px;
    opacity: 0px;
    
    font-family: Istok Web;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.79px;
    text-align: left;
}

.phone_kabel {
    float: right;
    width: 500px;
    height: 888.01px;
    
    margin-top: -600px;
    margin-right: 1200px;
}

.kabel {
    padding-top: 0;
    padding-left: 43px;
    margin-top: -200px;
}