@font-face {
    font-family: 'Libre Barcode 128 Text';
    src: url(fonts/LibreBarcode128Text-Regular.ttf);
}

@font-face {
    font-family: 'Kenia';
    src: url(fonts/Kenia-Regular.ttf);
}

@font-face {
    font-family: 'Istok Web';
    src: url(fonts/IstokWeb-Regular.ttf);
}

@font-face {
    font-family: 'Karla';
    src: url(fonts/Karla-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: white;
}

.main_page{
    width: 1440px;
    height: 1024px;
    background-image: url(images/stars.avif);
    z-index: -1;
}

.page_header {
    width: 1440px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    min-height: 70px;
    padding-top: 105px;
    padding-right: 65px;
    padding-left: 115px;
}

.logo {
    display: block;
    
    font-family: 'Libre Barcode 128 Text';
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;

    width: 53px;
    height: 80px;
    top: 47px;
    left: 122px;
    gap: 0px;
    opacity: 0px;
}

.navigation_list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 250px;
    list-style: none;
    color: white;
}

.navigation_title_main {
    width: 56px;
    height: 26px;
    top: 74px;
    left: 518px;
    gap: 0px;
    opacity: 0px;

    font-family: 'Istok Web';
    font-size: 18px;
    font-weight: 400;
    line-height: 25.91px;
    text-align: left;

    text-decoration: none;
    color: white;
}

.container_page {
    display: flex;
    padding-top: 164px;
    padding-left: 115px;
}

.text_main {
    width: 412px;
    height: 264px;
    top: 291px;
    left: 115px;
    gap: 0px;
    opacity: 0px;

    font-family: 'Kenia';
    font-size: 150px;
    font-weight: 400;
    line-height: 150px;
    text-align: left;

    color: #FFFFFF;
}

.company_borth {
    display: block;

    width: 290px;
    height: 63px;
    padding-top: 175px;
    padding-left: 122px;
    gap: 0px;
    opacity: 0px;
    
    font-family: 'Istok Web';
    font-size: 20px;
    font-weight: 400;
    line-height: 28.79px;
    text-align: left;
}

.phone {
    position: relative;
    left: 880px;
    top: -670px;
    padding-left: 30px;
    padding-top: 0;
    margin: 0;
    z-index: 1;
}

.kabel {
    position: relative;
    left: 958px;
    top: -835px;
    z-index: 0;
}

.music_page {
    display: block;
    
    
    width: 1440px;
    height: 1024px;
    top: 1024px;

    background: #D53005;
}

.music_word {

    width: 84px;
    height: 35px;
    top: 83px;
    left: 122px;
    gap: 0px;
    opacity: 0px;

    font-family: 'Karla';
    font-size: 30px;
    font-weight: 400;
    line-height: 35.07px;

    padding-top: 83px;
    padding-left: 122px;
}

.listen_now {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     
    width: 382px;
    height: 83px;
    
    margin-top: 267px;
    margin-left: 122px;

    
    background: radial-gradient(98.43% 2084.95% at 1.57% 7.83%, #B13E18 0%, #F3501A 100%);
    border: 1px solid #00000080;

    box-shadow: -4px -4px 30px 0px #FFFFFF1A;
    box-shadow: 4px 4px 4px 0px #00000080;
}

.listen_now_text{
    position: relative;
    right: 50px;

    width: 196px;
    height: 47px;

    margin-top: 18px;
    margin-left: 93px;
    vertical-align: middle;
    
    font-family: 'Karla';
    font-size: 40px;
    font-weight: 400;
    line-height: 46.76px;

    color: #FFFFFF;

    
}

.find_song {
    display: flex;
    justify-content: center;

    width: 382px;
    height: 83px;
    
    margin-top: 106px;
    margin-left: 122px;

    background: radial-gradient(98.43% 2084.95% at 1.57% 7.83%, #B13E18 0%, #F3501A 100%);
    border: 1px solid #00000080;

    box-shadow: -4px -4px 30px 0px #FFFFFF1A;
    box-shadow: 4px 4px 4px 0px #00000080;

}

.find_song_text {
    position: relative;
    right: 30px;

    width: 250px;
    height: 47px;

    margin-top: 18px;
    margin-left: 75px;
    vertical-align: middle;
    
    font-family: 'Karla';
    font-size: 40px;
    font-weight: 400;
    line-height: 46.76px;

    color: #FFFFFF;
}

.music_picture{

    position: relative;
    
    width: 1000px;
    height: 666.5px;
    top: -470px;
    left: 440px;
    gap: 0px;
    opacity: 0px;
}